<!DOCTYPE html>
<html>
<head>
    <title>{{#block "title"}}Wildlife Tracker{{/block}}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<header>
<nav class="navbar">
<div class="navbar_container">
<a href="#home" id="navbar__logo">Wildlife</a>
<div class="navbar__toggle" id="mobile-menu">
<span class="bar"></span> <span class="bar"></span>
<span class="bar"></span>
</div>
<ul class="navbar_menu">

<li class="navbar_item">
<a href="/" class="navbar_links" >Home</a>
</li>

<li class="navbar_item">
<a href="/create/location" class="navbar_links" >Location</a>
</li>


<li class="navbar_item">
<a href="/create/animal" class="navbar_links" >Animal</a>
</li>


<li class="navbar_item">
<a href="/create/ranger" class="navbar_links" >Ranger</a>
</li>
 <li class="navbar_item">
          <a href="/create/sighting" class="navbar_links" >sighting</a>
          </li>
           <li class="dropdown">
             <a href="javascript:void(0)" class="dropbtn">views</a>
             <div class="dropdown-content">
             <a href="/view/locations">Location</a>
              <a href="/view/animals">Animal</a>
                   <a href="/view/rangers">Ranger</a>
                   <a href="/view/sightings">Sighting</a>
                 </div>
             </li>
             </ul>
             </nav>
             </div>



{{!--  <h2>View your details</h2> --}}
{{!--  <nav class="nav_link"> --}}
{{!--             <ul> --}}
{{!--                 <li><a class="nav-link" href="/view/rangers">Ranger</a></li> --}}
{{!--                   <a  href="/view/rangers"><button class="ranger-btn btns">view rangers</button></a> --}}

{{!--                   <li><a class="nav-link" href="/view/sightings">Sighting</a></li> --}}
{{!--                   <a  href="/view/sightings"><button class="sighting-btn btns">view sightings</button></a> --}}

{{!--                  <li><a class="nav-link" href="/view/animals">Animal</a></li> --}}
{{!--                   <a  href="/view/animals"><button class="animal-btn btns">view animals</button></a> --}}

{{!--                    <li><a class="nav-link" href="/view/locations">Location</a></li> --}}
{{!--                   <a  href="/view/locations"><button class="location-btn btns">view locations</button></a> --}}
{{!--                   </ul> --}}
{{!--                   </nav> --}}
{{!-- </div> --}}

    <!--begin main template-->

    <div class="main-content">
        {{#block "content"}}
        {{/block}}

    </div>

<!--end main template-->
{{#block "footer"}}

<script src="/Js/app.js"></script>
    </body>
    </html>
{{/block}}