{{#partial "content"}}

    <div class="title">
        <h1 class="text display-4" >Welcome to Wildlife Tracker</h1>
    </div>
<p>This is an app,that will help the jungle. We try to find what is left for our wildlife</p>

{{/partial}}

{{> layout.hbs}}