<!DOCTYPE html>
<html>
<head>
    <title>{{#block "title"}}Wildlife Tracker{{/block}}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<header>

        <div class="container">

       <nav>
       <ul>
          <li><a class="nav-link" href="/">Home</a></li>

  <h2>Create your creations here</h2>
   <li><a class="nav-link" href="/create/ranger">Ranger</a></li>
{{!--                                  <a  href="/create/ranger"><button class="ranger-btn btns">create rangers</button></a> --}}

  <li><a class="nav-link" href="/create/sighting">Sighting</a></li>
{{!--                                  <a  href="/create/sighting"><button class="sighting-btn btns">create sightings</button></a> --}}

 <li><a class="nav-link" href="/create/animal">Animal</a></li>
{{!--                                  <a  href="/create/animal"><button class="animal-btn btns">create animals</button></a> --}}

   <li><a class="nav-link" href="/create/location">Location</a></li>
{{!--                                  <a  href="/create/location"><button class="location-btn btns">create locations</button></a> --}}
</ul>
</nav>
</header>

</div>
<div class="container">
 <h2>View your details</h2>
 <nav class="nav_link">
            <ul>
                <li><a class="nav-link" href="/view/rangers">Ranger</a></li>
{{!--                   <a  href="/view/rangers"><button class="ranger-btn btns">view rangers</button></a> --}}

                  <li><a class="nav-link" href="/view/sightings">Sighting</a></li>
{{!--                   <a  href="/view/sightings"><button class="sighting-btn btns">view sightings</button></a> --}}

                 <li><a class="nav-link" href="/view/animals">Animal</a></li>
{{!--                   <a  href="/view/animals"><button class="animal-btn btns">view animals</button></a> --}}

                   <li><a class="nav-link" href="/view/locations">Location</a></li>
{{!--                   <a  href="/view/locations"><button class="location-btn btns">view locations</button></a> --}}
                  </ul>
                  </nav>
</div>

    <!--begin main template-->

    <div class="main-content">
        {{#block "content"}}
        {{/block}}

    </div>

<!--end main template-->
{{#block "footer"}}

    </body>
    </html>
{{/block}}